[submodule "riscv-soc"]
	path = riscv-soc
	url = https://github.com/dingqy/riscv-soc.git
[submodule "linux"]
	path = linux
	url = https://github.com/sggfang/linux.git
[submodule "uboot"]
	path = uboot
	url = https://github.com/cyf635665843/Uboot.git
